apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitops-demo
  template:
    metadata:
      labels:
        app: gitops-demo
    spec:
      containers:
        - name: gitops-demo
          image: colakk35/gitops-demo:9420d615faaf82da8601937443dea2ef2ee208d8
          ports:
            - containerPort: 8080
