apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: default
  labels:
    app: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: mariadb:10.6
          ports:
            - containerPort: 3306
          env:
            - name: MARIADB_ROOT_PASSWORD
              value: "root123"
            - name: MARIADB_DATABASE
              value: "gitopsdb"
            - name: MARIADB_USER
              value: "dbuser"
            - name: MARIADB_PASSWORD
              value: "dbpass123!"

---
apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: default
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: mariadb