name: gitops-demo ci-cd pipeline
on:
  push:
    branches: ['main']

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/gitops-demo:${{ github.sha }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/gitops-demo:${{ github.sha }}
      

      - name: Update Kubernetes Manifest
        run: |
          git config --global user.email "ci-bot@github.com"
          git config --global user.name "GitHub Actions CI"
          
          sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/gitops-demo:${{ github.sha }}|g" k8s/deployment.yaml
          
          git diff
          
          git add k8s/deployment.yaml
          git commit -m "CI: Update image tag to ${{ github.sha }}"
          git push